<div class="m-10">
  <span
    class="text-6xl font-bold text-blue-900/50 bg-slate-300/40 rounded-lg px-8 py-3"
  >
    <a routerLink="">Calculator.</a>
  </span>
  <div class="flex justify-center">
    <div class="grid grid-cols-4 gap-20 mt-52 items-center">
      <a
        routerLink="/add"
        class="text-6xl font-bold text-blue-900/50 box bg-slate-300/40 hover:bg-slate-200/50"
      >
        +
      </a>
      <a
        routerLink="/sub"
        class="text-6xl font-bold text-blue-900/50 box bg-slate-300/40 hover:bg-slate-200/50"
      >
        -
      </a>
      <a
        routerLink="/mul"
        class="text-6xl font-bold text-blue-900/50 box bg-slate-300/40 hover:bg-slate-200/50"
      >
        x
      </a>
      <a
        routerLink="/div"
        class="text-6xl font-bold text-blue-900/50 box bg-slate-300/40 hover:bg-slate-200/50"
      >
        ÷
      </a>
    </div>
  </div>
</div>
